@import 'variables';

.button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 28px 40px;
  background: $yellow;
  border-radius: 16px;
  transition: 0.3s all;
  color: #274C5B;

  &__text {
    font-family: 'Roboto', sans-serif;
    color: inherit;
    font-size: 20px;
    font-weight: 700;
  }

  &:hover {
    transform: scale(1.1);
    img {
      animation: move 0.8s;
    }
  }
}

.button_black {
  background: #1E1E1E;
}

.button_blue {
  background: $blue;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}